* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(29, 28, 28);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 10em;
    background-color: black;
    height: 4em;
}

header img {
    max-width: 55%;
    height: auto;
    padding-top: 5%;
}

ul{
    display: flex;
    list-style:  none;
    width: 100%;
 
}

ul li {
    position: relative;
}

ul li ul {
    position: absolute;
    left: -35%;
    width: 180px;
    margin-top: 30px;
    flex-direction: column;
    display: none;
}

ul li:hover ul {
    margin-top: 0;
    display: flex;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    transition: 300ms;
    border: 2px solid transparent;
    box-sizing: border-box;    
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

li a:hover {
    color: #FFBD59;
    background-color: rgb(29, 28, 28);
    border: 2px solid #FFBD59;
    font-size: 21px;
}

li a:active {
    color: #FFBD59;
    background-color: rgb(29, 28, 28);
    border: 2px solid #FFBD59;
    font-size: 18px;
}

nav li.active a{
    color: #FFBD59;
}
main {
    color: white;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.intro {
    width: 100%;
    height: 300px;
    position: relative;
    padding-top: 60px;
    margin-bottom: 20px;
}

.intro img {
    position: absolute;
    height: 300px;
    border-radius: 5px;
    transition: 700ms;
    left: 35%;
}

.intro:hover img{
    transform: translateX(65%);
    border-radius: 50% 2px 2px;
}

.intro h1 {
    position: absolute;
    width: 100px;
    left: 35%;
    color: transparent;
}


.intro p {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 35%;
    top: 50%;
    color: transparent;
}

.intro1-move, .intro2-move, span{
    transition: 700ms;
}

.intro:hover .intro1-move {
    transform: translateX(-80%);
    width: 300px;
    color: white;
    font-size: 30px;
}

.intro:hover .intro2-move {
    transform: translateX(-80%);
    width: 300px;
    color: white;
    top: 150px;
    font-size: 20px;
    padding-left: 200px;
}

.intro:hover span {
    color: #FFBD59;
    font-size: 40px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 12em;
    background-color: black;
    height: 4em;
    color: white;

}

.copyright {
    font-size: 14px;
    padding-left: 50px;
}

.nav-bar a{
    font-size: 16px;
}

.nav-bar a:hover {
    color: #FFBD59;
    background-color: rgb(29, 28, 28);
    border: 2px solid #FFBD59;
    font-size: 18px;
}

.nav-bar a:active {
    color: #FFBD59;
    background-color: rgb(29, 28, 28);
    border: 2px solid #FFBD59;
    font-size: 14px;
}

.soc-icon a {
    font-size: 26px;
}

.soc-icon a:hover {
    color: #FFBD59;
    background-color: rgb(29, 28, 28);
    border: 2px solid #FFBD59;
    font-size: 28px;
}

.soc-icon a:active {
    color: #FFBD59;
    background-color: rgb(29, 28, 28);
    border: 2px solid #FFBD59;
    font-size: 24px;
}

.copyright p a{
    text-decoration: none;
    color: #FFBD59;
    font-size: 14px;
}

